:root {
  --cor-bg-principal: #178ea8;
  --cor-bg-container: #10b3d8;
  --cor-texto: #b8b0a0;
  --cor-bg-input: #b8b0a0;
  --cor-bg-botao: #b8b0a0;
  --cor-hover: #58554d;
  --cor-sombra: rgba(0, 0, 0, 0.1);
  --cor-sombra-hover: rgba(40, 49, 128, 0.3);
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to bottom right, #074c5c, #10b3d8);
  background-repeat: repeat;
  background-size: auto;
}

.container {
  max-width: 1200px;
  padding: 20px;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--cor-sombra);
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

.card-headerTitle {
  padding: 10px;
  background-color: var(--cor-bg-container);
  color: #fff;
  font-size: 1.25em;
  font-weight: bold;
  border-bottom: 0;
}

.card-body {
  background-color: var(--cor-bg-container);
}

.table thead th {
  background-color: var(--cor-bg-container);
  color: #fff;
  font-weight: bold;
}

.table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table td {
  vertical-align: middle;
}

.btn-personalizado {
  background-color: var(--cor-bg-botao);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-personalizado:hover {
  background-color: var(--cor-hover);
  transform: translateY(-2px);
}

.modal-header {
  background-color: var(--cor-bg-container);
  color: #fff;
}

