<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Para a Saúde do Pet</title>
</head>
<body>
    <div class="container-introducao">
        <h1>BEM-VINDO AO PET FOR HEALTH: A CARTEIRINHA DE VACINAÇÃO ONLINE PARA O SEU PET</h1>
        <p>Estamos aqui para ajudar você a cuidar do seu PET com amor e dedicação.</p>
        <p>Entre agora na sua conta ou crie uma nova para começar!</p>
        <a href="{{ url_for('routes.login') }}">Login</a>
        <a href="{{ url_for('routes.register') }}">Cadastre-se</a>
    </div>
</body>
</html>
